
name: Build Plugin

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: '17'

    - name: Build Plugin
      run: |
        rm -rf ~/.gradle/caches/
        cd $GITHUB_WORKSPACE/src
        chmod +x gradlew
        ./gradlew :m3u:make
        mkdir -p $GITHUB_WORKSPACE/builds
        cp m3u/build/*.cs3 $GITHUB_WORKSPACE/builds || true
        cp build/plugins.json $GITHUB_WORKSPACE/builds || true
